.card-section {
    width: 800px;
    border: 2px solid #D2CCCD;
    border-radius: 5px;
    margin-bottom: 20px;
    h2 {
        color: #6E646B; 
    }
    svg {
        width: 20px;
        cursor: pointer;
            &:hover {
                circle{
                    fill: #EAEAEA;
                }
            }
    }
}
